<% layout('layouts/boilerplate') %>

<div class="row">
<div class="col-md-3 offset-md-3">
<div class="card shadow" style="width: 28rem;">
    <img src="https://images.unsplash.com/photo-1624951517902-e05b4105e123?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Admin Login</h5>
      <form action="/login" method="post" class="validated-form" novalidate>
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username" required autofocus>
            <div class="valid-feedback">
                Looks Good!
            </div>
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" required>
            <div class="valid-feedback">
                Looks Good!
            </div>
        </div>
        
        <button class="btn btn-success btn-block">Login</button>
    </form> 
    </div>
      
    
    
    <div class="card-body">
      
    <a href="file:///C:/Users/Dell/Web%20developnment%20dell/PROJECT/ProjectFinal/index.html#">Home Page</a>
    </div>
  </div>
  </div>
</div>







